html,
body {
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

body {
    /*background: #424242;*/
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: auto;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

#navbar {
    background: rgba(0, 0, 0, 0.7);
    -webkit-app-region: drag;
    /*background: linear-gradient(#323232, #424242);*/
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #323232;
}

#searchbar:hover{
    background: rgba(90, 90, 90, 0.7);
}

#searchbar, #searchinput {
    background: rgba(0, 0, 0, 0.7);
    border: 0px solid #323232;
    -webkit-app-region: no-drag;
    font-size:24px;
    color: white;
    width: 400px;
    height: 50px;
    left: 1em;
    padding: 0;
    margin: 0;
    position: relative;
}

#minimize,
#maximize,
#close {
    -webkit-app-region: no-drag;
    width: 25px;
    height: 25px;
    padding: 5px;
    display: inline-block;
    position: absolute;
    background-color: transparent;
    left: calc(100% - 120px);
    top: 7.5px;
}

#minimize {
    left: calc(100% - 120px);
}

#maximize {
    left: calc(100% - 80px);
}

#close {
    left: calc(100% - 40px);
}

#minimize>*:hover,
#maximize>*:hover,
#close>*:hover {
    background: rgba(90, 90, 90, 0.7);
}

.stocks {
    overflow: hidden;
    text-align: center;
    background: rgba(90, 90, 90, 0.7);
    /*background-color: #626262;*/
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 1em;
    border-radius: 20px;
    perspective: 400px;
    -webkit-perspective: 400px;
}

.stocks:hover {
    background-color: #616161;
    background: rgba(97, 97, 97, 0.8);
}

.graphs {
    height: 200px;
}

.info {
    left: calc(50% - 215px);
    bottom: calc(50% - 287.5px);
    width: 100%;
    height: 50%;
    position: relative;
    padding: 15px;
}

.info>table,
tr,
td {
    border-collapse: collapse;
}

td {
    width: 200px;
    height: 40px;
    text-align: middle;
    vertical-align: middle;
}

.head {
    padding: 15px;
    text-align: left;
    height: 125px;
    width: 400px;
    position: relative;
    top: 0px;
}

.stocks,
.front,
.back {
    width: 400px;
    height: 400px;
}


/* flip speed goes here */

.flipper {
    transition: 1s;
    -webkit-transition: 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.ct-line {
    stroke: #39FF14 !important;
    stroke-width: 3px !important;
}

.ct-area {
    fill: #39FF14 !important;
}

.ct-grid {
    stroke: black !important;
}

.ct-label {
    color: white !important;
}